.cart-wrapper{
  padding:20px 40px;
}
.container{
  width: 200px;
  height: 280px;
  padding:10px;
  border:1px solid rgb(162, 160, 160);
  text-align: center;
}
.img-wrapper{
  padding:20px;
}
.img-wrapper img{
  width:150px;
  height: 150px;
  border-radius: 5px;
}
.text-wrapper{
  display: flex;
  flex-direction: column;
}
.text-wrapper span{
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}
.btn-wrapper button{
  border: none;
  background: none;
  background-color: rgb(19, 19, 95);
  padding:10px 15px;
  color:antiquewhite;
  border-radius: 3px;
  cursor: pointer;
}